################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TCPServer/.vs/TCPServer/v16
/UDPClient/.vs/UDPClient/v16
/UDPServer/.vs/UDPServer/v16
/UDPClient/UDPClient/Debug
/UDPServer/UDPServer/Debug
/UDPServer/Debug
/TCPServer/Debug
/UDPClient/Debug
/TCPClient_Linux/.vs/TCPClient_Linux/v16
/TCPClient_Linux/TCPClient_Linux/bin/x64/Debug
/TCPClient_Linux/TCPClient_Linux/obj/x64/Debug
/TCPClient_Win/.vs/TCPClient_Win/v16
/TCPClient_Win/Debug
/TCPClient_Win/TCPClient_Win/Debug
/TCPHub/.vs/TCPHub/v16
